Source: pve-container
Section: perl
Priority: extra
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 10~),
               libpve-cluster-perl,
               libpve-common-perl (>= 6.0-8),
               libpve-guest-common-perl (>= 2.0-20),
               libpve-storage-perl,
               libtest-mockmodule-perl,
               lxc (>= 3.0.2) | lxc-pve (>= 3.0.1+pve1),
               pve-cluster (>= 4.0-8),
               pve-doc-generator (>= 5.3-3),
               pve-firewall,
Standards-Version: 4.3.0

Package: pve-container
Section: perl
Priority: optional
Architecture: all
Depends: file,
         libpve-cluster-perl,
         libpve-common-perl (>= 6.0-12),
         libpve-guest-common-perl (>= 3.0-2),
         libpve-storage-perl (>= 5.0-31),
         lxc-pve,
         pve-cluster (>= 4.0-8),
         pve-ha-manager (>= 3.0-3),
         xz-utils,
         ${misc:Depends},
         ${perl:Depends},
Description: Proxmox VE Container management tool
 Tool to manage Linux Containers on Proxmox VE.
