Source: pve-container
Section: perl
Priority: extra
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 12~),
               libpve-cluster-perl,
               libpve-common-perl (>= 6.0-19),
               libpve-guest-common-perl (>= 3.0-6),
               libpve-storage-perl,
               libtest-mockmodule-perl,
               lxc-pve (>= 3.0.1+pve1) | lxc (>= 3.0.2),
               pve-cluster (>= 4.0-8),
               pve-doc-generator (>= 5.3-3),
               pve-firewall,
Standards-Version: 4.5.1

Package: pve-container
Section: perl
Priority: optional
Architecture: all
Depends: file,
         libpve-cluster-perl,
         libpve-common-perl (>= 6.0-19),
         libpve-guest-common-perl (>= 3.0-9),
         libpve-storage-perl (>= 6.3-8),
         lxc-pve,
         pve-cluster (>= 4.0-8),
         pve-ha-manager (>= 3.0-9),
         pve-lxc-syscalld,
         xz-utils,
         ${misc:Depends},
         ${perl:Depends},
Description: Proxmox VE Container management tool
 Tool to manage Linux Containers on Proxmox VE.
