Source: pve-container
Section: perl
Priority: extra
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 7.0.50~), libpve-common-perl, libpve-storage-perl, pve-cluster (>= 4.0-8)
Standards-Version: 3.8.4

Package: pve-container
Section: perl
Priority: optional
Architecture: all
Depends: ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends}, libpve-common-perl, libpve-storage-perl, pve-cluster (>= 4.0-8), pve-ha-manager, lxc-pve, xz-utils, gzip, tar
Description: Proxmox VE Container management tool
 Tool to manage Linux Containers on Proxmox VE.
